
.articleCard {
  height: auto;
  width: auto;
  border: 1px solid red;
  display: inline-block;
  background-color: white;
  margin: 20px;
  padding: 20px;
}
.input_block {
    display: block;
    padding: 10px 30px;
    margin: 10px auto;
    height: 100px;
    width: 500px;
}
.title {
  height: 40px;
}
.article select {
 margin: 10px auto;
 padding: 10px;
 font-size: 18px;
}

.articleCreate,
.articleContent,
.commentContent {
  background-color: #aeaec136;
  grid-column-start: 1;
grid-column-end: 3;
margin: 30px 100px;
text-align: center;
padding: 20px;
border: 1px inset #8e3007;
border-radius: 10px;
}
.articleCreate button {
  margin-top: 20px;
}
.articleCreate label {
}

.articleContent textarea,
.newComment textarea,
.menu.open textarea,
.commentSection textarea,
.articleCreate textarea,
.articleCreate select,
.articleCreate input {
  display: block;
  padding: 10px 30px;
  margin: 10px auto;
  min-height: 100px;
  width: 500px;
}
 .articleTitle {
   color: #580202;
   font-size: 20px;
   font-weight: 800;
 }
 .warning {
   color: red;
   margin-bottom: 10px;
 }
