<div class="admin_container">
  <div class="background">
        <div class="">
          <div class="">
            <a href='/logout'>logout</a>
            <a href='/info'>Main content</a>
          </div>
          <div class="menu">
            <button type="button" name="button" id="users">Users</button>
            <button type="button" name="button" id="articles">Articles</button>
            <button type="button" name="button" id="requests">Requests</button>
          </div>
          <div class="actions">
          </div>
          <div class="container">
              <div class="title">
                Welcome to the admin page
              </div>
          </div>
        </div>
      </div>

</div>
