/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
 }
// body {
//   font-family: 'Titillium Web', sans-serif;
//   background-image: url('/assets/images/main2.jpg');
//     background-size: cover;
// }



/*Subscribe section Layout */
/*General Layout*/
@main-color: #580202;
@dark-bg-color: #222222;
* {
  margin: 0;
}
body {
   background-color: white;
   color: black;
   font: normal 16px sans-serif;
}

a {
   color: inherit;
   text-decoration: none;
   text-align: center;
}

button,
input[type=submit] {
 background-color: @main-color;
 cursor: pointer;
 text-transform: uppercase;
 color: white;
 padding: 10px;
}

.addButton {
  border: none;
  margin-top: 10px;
  padding: 20px 7px;
}
.firstPart {
  color: @main-color;
  background-color: grey;
}
.secondPart {

}
h1 {
 color: @main-color;
}

.soft-background-color {
 background-color: #fff8f5;
}

.white-text {
 color: #fff;
}

/*Welcome-screen Layout*/

.welcome-screen__wrapper {
 background-image: url(/assets/images/main2.jpg);
 background-size: cover;
 color: white;
 font-family: Comic Sans;
}

/*Welcome-screen Layout --> Header*/

.welcome-screen__header {
 background-color: rgba(0,0,0,0.65);
 display: grid;
 grid-template-columns: auto minmax(100px,600px) minmax(500px,600px) auto;
 grid-template-areas:
   ". header header .";
 padding: 20px 50px 10px 50px;
 text-align: justify;
 text-transform: uppercase;
}

.header__logo {
 grid-area: header;
 justify-self: start;
}

.header__nav {
 grid-area: header;
 justify-self: end;
}

.nav__item {
   display: inline-block;
   margin-right: 15px;
   border: 2px solid @main-color;
   padding: 7px 10px;
   border-radius: 5px;
   color: #540202;
   background-color: white;
}
.nav__item:hover {
   color: white;
   background-color: @main-color;
}

.nav__login-button {
   border: none;
   border-radius: 5px;
   color: inherit;
   padding: 10px 25px;
}

.header__logo span {
 background-color: @main-color;
 font-size: 26px;
 border-radius: 80px;
 margin-bottom: 20px;
 padding: 3px 4px;
}

/*Categories*/
.category {
  height: auto;
  width: auto;
  border: 1px solid red;
  display: inline-block;
  background-color: white;
  margin: 20px;
  padding: 20px;
}
.edit {
  padding: 10px 20px;
  color: white;
  background-color: grey;
  border-radius: 5px;
}

.remove {
  padding: 10px 20px;
  color: white;
  background-color: #a03939;
  border-radius: 5px;
}

/*Welcome-screen Layout --> Main Content*/

.welcome-screen__content {
  background-color: rgba(0, 0, 0,0.10);
  height: 200px;
  position: relative;
  text-align: center;
}

.welcome-screen__content .content__main-button {
  margin-top: 50px;
}

.welcome-screen__content .content__hashtag {
  line-height: 200px;
  font-size: 70px;
  color: inherit;
}

.welcome-screen__content .content__text {
  font-size: 25px;
  max-width: 80%;
  margin: 0 auto;
}

.welcome-screen__content .content__main-button:hover {
  background-color: white;
  color: #421805;
}


.subscriber {
  background-color: @dark-bg-color;
  border-bottom: 1px solid #343434;
  color: #efe3d6;
  display: grid;
  grid-template-columns: auto minmax(100px,600px) minmax(100px,600px) auto;
  grid-template-areas:
    ". text form .";
  text-align: center;
  padding: 30px 0;
}

.subscriber__text {
  grid-area: text;
  padding: 20px;
}

.subscriber__form {
  grid-area: form;
}

.subscriber__form input{
  margin: 10px 10px;
  padding: 8px 30px;
}

.subscriber__form_email {
  max-width: 260px;
  background-color: #f9f9f9;
}

.subscriber__form_button:hover {
  background: white;
  color: black;
}

/*Footer Layout */

.footer {
  background-color: @dark-bg-color;
  color: #efe3d6;
  display: grid;
  grid-template-columns: 1fr minmax(100px,300px) minmax(100px,300px) minmax(100px,300px) minmax(100px,200px) 1fr;
  padding-bottom: 25px;
  padding-top: 45px;
}

.footer  a {
  color: #6f6a65;
  border-bottom: 1px solid rgba(136, 136, 136, 0.3);
}

.footer p {
  margin: 5px;
}

.footer p:first-child {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.footer__phoneNumber {
  font-size: 20px;
  padding: 10px;
  color: #6f6a65;
}

.footer__first-column {
  padding: 0 0 0 20px;
}

.footer__last-column {
  text-align: center;
  padding: 0 10px 0 0;
}

.container{
    margin: 0 auto;
    padding: 0 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0px;
    grid-template-areas:
      "content content"
      "content content"
      "content content"
      "content content"
      "content content";
}

/*Container Layout --> Howto section*/

.container__howto {
  font-size: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  background-color: white;
}
