<div class="welcome-screen__wrapper">
  <header class="welcome-screen__header">
    <div class="logo header__logo">
      "Situation puzzle" List
    </div>
    <div class="nav header__nav">
      <li class="nav__item" routerLink='/main'><a >Sections</a></li>
      <li class="nav__item" routerLink='/auth'><a>logout</a></li>
      </div>
  </header>
    <div class="welcome-screen__content">
    </div>
  </div>
  <div class="container">
    <div class="">
    </div>
    <div class="container__howto" id="sections">
      <div class="">
        <button type="button" [routerLink]= " [ '/main' ,{outlets: {second: 'article'}}]" class="addButton secondPart">Add new Pazzle</button>
        <hr>

      </div>
      <app-sections *ngIf="isSectionSelected"></app-sections>
      <hr>
      <!-- <app-article *ngIf="!isSectionSelected"></app-article> -->
  <router-outlet name='second'></router-outlet>
  <router-outlet name='second'></router-outlet>
    </div>

  </div>

  <div class="subscriber">
    <div class="subscriber__text">
      <span>If you want to be the first to know about new articles.</span>
    </div>
    <form class="subscriber__form" action="index.html" method="post">
      <input type="email" class="subscriber__form_email" name="" value="" placeholder="E-mail">
      <input type="submit" class="subscriber__form_button"name="" value="Subscribe">
      <p> <input type="checkbox" checked> I agree with the terms of use of the service</p>
    </form>
  </div>
  <footer class="footer">
    <div class="">
    </div>
    <div class="footer__first-column">
      <p>Помощь</p>
      <p><a href="#">Вопрос-ответ</a></p>
      <p><a href="#">Доставка и оплата</a></p>
    </div>
    <div class="footer__second-column">
      <p>Компания</p>
      <p><a href="#">О компании</a></p>
      <p><a href="#">Сертификаты</a></p>
    </div>
    <div class="footer__third-column">
      <p>Компания</p>
      <p><a href="#">О компании</a></p>
      <p><a href="#">Сертификаты</a></p>
    </div>
    <div class="footer__last-column">
      <span>Звоните нам бесплатно:</span>
      <div class="footer__phoneNumber">
        8-800-333-49-80
      </div>
    </div>
    <div class="">
    </div>
  </footer>
