
<div class="articleCard" *ngFor="let article of articles" >
  <div class="">
    <div class="title">{{article.title}}</div>
  <!-- <div class="small">Secti}on: ${article.section}</div> -->
    <div class="small">Data creation: {{article.dateCreated|date:"dd/MM/yyyy"}}</div>
  </div>
  <div class="buttons">
    <button type="button" name="button" class="datails">View</button>
    <button type="button" name="button" class="edit">Edit</button>
    <button type="button" class="remove" (click)="delete(article)">Delete</button>
  </div>
</div>
