.articleCard {
  height: auto;
  width: auto;
  border: 1px solid red;
  display: inline-block;
  background-color: white;
  margin: 20px;
  padding: 20px;
}

.edit {
  padding: 10px 20px;
  color: white;
  background-color: grey;
  border-radius: 5px;
}

.remove {
  padding: 10px 20px;
  color: white;
  background-color: #a03939;
  border-radius: 5px;
}

.datails {
  background-color: #4a58ad;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
